.MyWork{
    width: 100%;
    height: 100vh;
    background-color: rgb(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 100%;
    left: 0;
    z-index: 1;
    transition: .5s;
}

.MyWork .MyWork_Content{
    width: 80%;
    height: 70%;
    background-color: #111111;
    border: 3px solid #555555;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    border-radius: 8px;
    position: relative;
    padding: 0 50px;
    overflow-y: auto;
}

/* width */
.MyWork .MyWork_Content::-webkit-scrollbar {
    width: 5px;
    border-radius: 0 5px 5px 0;
  }
  
  /* Track */
  .MyWork .MyWork_Content::-webkit-scrollbar-track {
    background: #333333; 
    border-radius: 0 5px 5px 0;
  }
   
  /* Handle */
  .MyWork .MyWork_Content::-webkit-scrollbar-thumb {
    background: #555555; 
    border-radius: 5px;
  }

.MyWork .MyWork_Content .Heading{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 15px 0;
}

.MyWork .MyWork_Content .Heading .Heading2 {
    display: flex;
    position: absolute;
    left: 10px;
    top: calc( 75px - 25px );
}

.MyWork .MyWork_Content .Heading .Heading2 .H1_1{
    font-size: 50px;
    font-weight: bolder;
    color: #fff;
    margin-bottom: 0;
    margin-right: 5px;
}
.MyWork .MyWork_Content .Heading .Heading2 .H1_2{
    font-size: 50px;
    font-weight: bolder;
    color: #FFB400;
    margin-bottom: 0;
    margin-left: 5px;
}

.MyWork .MyWork_Content .Heading .H1_Back{
    font-size: 125px;
    font-weight: bolder;
    color: #222222;
}

.MyWork .MyWork_Content .MyWork_Grid{
    display: grid;
    grid-template-columns: 33.33fr 33.33fr 33.33fr;
    grid-gap: 30px;
    margin-bottom: 30px;
}


.MyWork .MyWork_Content .MyWork_Grid div{
    border-radius: 5px;
    cursor: pointer;
    transition: .5s;
    position: relative;
}

.MyWork .MyWork_Content .MyWork_Grid div img{
    width: 100%;
    border-radius: 5px;
}


.MyWork .MyWork_Content .MyWork_Grid div .work_desc{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: -webkit-fill-available;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
}

.MyWork .MyWork_Content .MyWork_Grid div .work_desc h4{
    margin-bottom: 0;
    color: #fff;
}

.MyWork .MyWork_Content .MyWork_Grid div:hover{
    background-color: #FFB400 ;
}

.MyWork .MyWork_Content .MyWork_Grid div:hover .work_desc{
    opacity: 1;
}
