.Modal {
    width: 100%;
    height: 100vh;
    background-color: rgb(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 100%;
    left: 0;
    z-index: 1;
    transition: .5s;
}
.Modal .Modal_Content{
    width: 80%;
    height: 70%;
    background-color: #111111;
    border: 3px solid #555555;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    border-radius: 8px;
    position: relative;
    padding: 0 20px;
    overflow-y: auto;
}

/* width */
.Modal .Modal_Content::-webkit-scrollbar {
    width: 5px;
    border-radius: 0 5px 5px 0;
  }
  
  /* Track */
  .Modal .Modal_Content::-webkit-scrollbar-track {
    background: #333333; 
    border-radius: 0 5px 5px 0;
  }
   
  /* Handle */
  .Modal .Modal_Content::-webkit-scrollbar-thumb {
    background: #555555; 
    border-radius: 5px;
  }
  

.Modal .Modal_Content .cross{
    position: absolute;
    right: -45px;
    top: -40px;
    width: 40px;
    height: 40px;
    border: 3px solid #fff;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    cursor: pointer;
}

.Modal .Modal_Content .cross i{
    font-size: 20px;
    color: #fff;
}

.Modal .Modal_Content .Heading{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 15px 0;
}

.Modal .Modal_Content .Heading .Heading2 {
    display: flex;
    position: absolute;
    left: 75px;
    top: calc( 60px - 25px );
}

.Modal .Modal_Content .Heading .Heading2 .H1_1{
    font-size: 50px;
    font-weight: bolder;
    color: #fff;
    margin-bottom: 0;
    margin-right: 5px;
}
.Modal .Modal_Content .Heading .Heading2 .H1_2{
    font-size: 50px;
    font-weight: bolder;
    color: #FFB400;
    margin-bottom: 0;
    margin-left: 5px;
}

.Modal .Modal_Content .Heading .H1_Back{
    font-size: 100px;
    font-weight: bolder;
    color: #222222;
}

.Modal .Modal_Content .Info_Grid{
    display: grid;
    grid-template-columns: 50fr 50fr;
    grid-column-gap: 20px;
}

.Modal .Modal_Content .Info_Grid .Personal_Info h4{
    color: #fff;
    font-weight: bolder;
}

.Modal .Modal_Content .Info_Grid .Personal_Info .inner_grid{
    display: grid;
    grid-template-columns: 50fr 50fr;
}

.Modal .Modal_Content .Info_Grid .Personal_Info .inner_grid h6{
    margin-bottom: 0;
    color: #939191;
}

.Modal .Modal_Content .Info_Grid .Personal_Info .inner_grid p{
    margin-bottom: 0;
    margin-left: 5px;
    color: #fff;
}

.Modal .Modal_Content .Info_Grid .Personal_Info .inner_grid a{
    margin-bottom: 0;
    margin-left: 5px;
    color: #fff;
    transition: 0.3s;
    word-break: break-all;
    width: 70%;
}
.Modal .Modal_Content .Info_Grid .Personal_Info .inner_grid a:hover{
    opacity: 0.7;
}


.Modal .Modal_Content .Info_Grid .Personal_Info .button{
    border: 1px solid #ffb400;
    overflow: hidden;
    border-radius: 35px;
    text-align: center;
    cursor: pointer;
    vertical-align: middle;
    transition: all .25s ease-in-out;
    position: relative;
    z-index: 1;
    padding: 16px 70px 16px 35px;
    font-size: 15px;
    font-weight: bolder;
    color: #fff;
    background-color: transparent;
    outline: none!important;
    cursor: pointer!important;
}
.Modal .Modal_Content .Info_Grid .Personal_Info .button:hover:before{
    transform: translateX(0);
}

.Modal .Modal_Content .Info_Grid .Personal_Info .button::before{
    background-color: #FFB400;
    z-index: -1;
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    transform: translateX(100%);
    transition: all .3s ease-out;

}

.Modal .Modal_Content .Info_Grid .Personal_Info .button .button-text{
    position: relative;
    z-index: 2;
    color: #fff;
    transition: all .3s ease-out;
}


.Modal .Modal_Content .Info_Grid .Personal_Info .button .button-icon {
    background-color: #FFB400;
    position: absolute;
    right: -1px;
    top: 0;
    bottom: 0;
    width: 55px;
    height: 55px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    color: #fff;
    border-radius: 50%;
}

.Modal .Modal_Content .Info_Grid .Field_Info{
    display: grid;
    grid-template-columns: 50fr 50fr;
    grid-gap: 30px;
}

.Modal .Modal_Content .Info_Grid .Field_Info .cards{
    border: 1px solid #222222;
    width: 100%;
    height: 150px;
    border-radius: 5px;
    padding: 20px;
}

.Modal .Modal_Content .Info_Grid .Field_Info .cards:hover p{
    text-decoration: underline;
}

.Modal .Modal_Content .Info_Grid .Field_Info .cards h1{
    color: #FFB400;
    font-size: 50px;
    font-weight: bolder;
}
.Modal .Modal_Content .Info_Grid .Field_Info .cards p{
    margin-bottom: 0;
    margin-left: 10px;
    color: #555555;
    cursor: pointer;
    transition: 0.3s;
}

.Modal .Modal_Content .Info_Grid .Field_Info .cards p:hover {
    color: #7c7c7c ;
}

.Modal .Modal_Content .Info_Grid .Field_Info .cards .line{
    width: 30px;
    height: 3px;
    border-radius: 5px;
    background-color: #222222;
    margin: auto 0;
}

.Modal .Modal_Content .Hr_Line {
    width: 40%;
    height: 1px;
    background-color: #555555;
    margin: 40px auto 20px auto;
}

@media only screen and (max-width: 1700px) {
    .Modal .Modal_Content{
        width: 90%;
        height: 80%;
    }
}

@media only screen and (max-width: 1500px) {
    .Modal .Modal_Content{
        width: 100%;
        height: 100%;
        border-radius: 0;
    }
}